body {
    background: #efefef;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    font: normal 13px Georgia, "Times New Roman", Times, serif;
   color: #222;
   }
#content 
{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 0;
    text-align: left;
}

fieldset {
    margin-top: 25px;
    padding: 15px;
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

fieldset legend {

    font: normal 20px Verdana, Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 1px #fff;
    letter-spacing: -1px;
    color: #273953;

}

input, textarea {
    padding: 3px;
	color:#939393;
}
.inputbox{ font-weight: normal;
    color: #222; border:3px solid  #F88282;}

label {
    cursor: pointer;
}

.block {
    display: block;
}
 
small {
    letter-spacing: 1px;
    font-size: 11px;
    font-style: italic;
    color: #9e9e9e;

}

.info {
  text-align: left;
    padding: 5px;
    font-size: 11px;
    color: #f60000;
    position: absolute;
    display: none;
    -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: -1px 1px 2px #a9a9a9;
    -moz-box-shadow: -1px 1px 2px #a9a9a9;
    box-shadow: -1px 1px 2px #a9a9a9;
}
 
.error {	
 background: #F8E6E6;
    border: 2px solid #FAB1B1;
}

 

.correct {
    background: #56d800;
    border: 3px solid #008000;
}

 .bad{font-weight: normal;
    color: #ED0505; }

.wrong {
    font-weight: normal;
    color: #ED0505;
}

.normal {
    font-weight: normal;
    color: #222;
}
#submit {
margin-top:10px;
background: #829fc9;
    width: 18%;
   border: 3px solid #0F1620;
    font: bold 17px Verdana, message-box;
    border-radius: 7px;
	 color: #273953;
}
#submit:hover {
    background: #4d76b1;
    border: 5px solid #253750;
    color: #fff;
}
#submit:active {
    text-indent:-10px;
}
#jform{border:1px solid #DFC0E2; box-shadow:5px 5px 5px 5px #888888; padding:35px;width:585px;  border-radius: 7px;}

